@model BE.nacimiento
<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper">
    <!-- Search for small screen -->
    <div class="header-search-wrapper grey hide-on-large-only">
        <i class="mdi-action-search active"></i>
        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">GESTION DE NACIMIENTOS</h5>
                <ol class="breadcrumbs">
                    <li><a href='@Url.Action("Index","Home")'>Inicio</a></li>
                    <li><a href="@Url.Action("Index","Nacimiento")">Nacimientos</a></li>
                    <li class="active">Mantenimiento</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->

<div id="default-validation" class="section">
    <div class="row">
        <div class="col s12 m12 l6">
            <div class="card-panel">
                <h4 class="header2">Datos del Ciudadano</h4>
                <div class="row">
                    <form class="col s12" id="formValidate" method="post" action='@Url.Action("Guardar","Nacimiento")'>
                        <input type="hidden" name="NacimientoId" value="@Model.NacimientoId" />
                        <input type="hidden" name="Url" value="@Model.Url" />
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="mdi-action-account-circle prefix"></i>
                                <label for="ApellidoNombre">Apellidos y Nombres*</label>
                                <input id="ApellidoNombre" name="ApellidoNombre" type="text" data-error=".errorTxt1" required minlength="5" value="@Model.ApellidoNombre">
                                <div class="errorTxt1"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="mdi-action-assignment-ind prefix"></i>
                                <label for="NroLibro">Nro. Libro*</label>
                                <input id="NroLibro" name="NroLibro" type="number" data-error=".errorTxt2" class="required number" value="@Model.NroLibro">
                                <div class="errorTxt2"></div>
                            </div>
                            <div class="input-field col s6">
                                <i class="mdi-action-assignment prefix"></i>
                                <label for="NroActa">Nro. Acta*</label>
                                <input id="NroActa" name="NroActa" type="number" data-error=".errorTxt3" class="required number" value="@Model.NroActa">
                                <div class="errorTxt3"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s6">
                                <i class="mdi-editor-insert-invitation prefix"></i>
                                <label for="Fecha">Fecha Nacimiento*</label>
                                <input id="Fecha" name="Fecha" type="date" data-error=".errorTxt4" class="datepicker required"
                                       value="@Model.Fecha.ToShortDateString()">
                                <div class="errorTxt4"></div>
                            </div>
                            <div class="col s6">
                                <label for="genter_select">Sexo</label>
                                <p>
                                    <input name="Sexo" type="radio" id="rbsexom" value="M" @if (Model.Sexo == "M") {  <text> checked</text> } />
                                    <label for="rbsexom">Masculino </label>
                                    -
                                    <input name="Sexo" type="radio" id="rbsexof" value="F" @if (Model.Sexo == "F") {  <text> checked</text> } />
                                    <label for="rbsexof">Femenino </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <a class="btn waves-effect waves-light blue" href='@Url.Action("Index","Nacimiento")'>
                                    Regresar
                                    <i class="mdi-av-fast-rewind right"></i>
                                </a>
                            </div>

                            <div class="input-field col s6">
                                <button class="btn waves-effect waves-light right" type="submit" name="action">
                                    Guardar
                                    <i class="mdi-action-done right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        @if (Model.NacimientoId > 0)
        {
            <div class="col s12 m12 l6">
                <div class="card-panel">
                    <h4 class="header2">Acta Principal de Nacimiento</h4>
                    <div class="row">
                        <form id="frmAdjuntar" method="post" action='@Url.Action("Adjuntar","Nacimiento")'>
                            <div class=" col s9">
                                <input type="hidden" name="NacimientoId" value="@Model.NacimientoId" />
                                <div class="file-field input-field">
                                    <div class="btn blue">
                                        <span>Buscar acta *.pdf</span>
                                        <input name="documento" type="file" accept="application/pdf">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="input-field col s3">
                                <button class="btn waves-effect waves-light right" type="submit">
                                    Subir
                                    <i class="mdi-file-file-upload right"></i>
                                </button>
                            </div>
                        </form>
                    </div>

                    @if (Model.Url.Length > 0)
                    {
                        <div class="row">
                            <iframe id="ifrNac" src="~/Actas/Nacimiento/@Model.Url" style="width:100%;height:400px;" frameborder="0"></iframe>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <iframe id="ifrNac" style="width:100%;height:400px;" frameborder="0"></iframe>
                        </div>
                    }

                    <hr />
                    <h4 class="header2">Anotaciones</h4>
                    <div class="row">
                        <form id="frmAdjuntarAnexo" method="post" action='@Url.Action("Anexo","Nacimiento")'>
                            <input type="hidden" name="NacimientoId" value="@Model.NacimientoId" />
                            <div class=" col s9">
                                <div class="file-field input-field">
                                    <div class="btn blue">
                                        <span>Buscar Anotación *.pdf</span>
                                        <input name="documento" type="file" accept="application/pdf">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="input-field col s3">
                                <button class="btn waves-effect waves-light right" type="submit">
                                    Subir
                                    <i class="mdi-file-file-upload right"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div id="listarAnexos"></div>
                </div>
            </div>


        }
    </div>

    <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <a class="btn-floating btn-large red" href='@Url.Action("Mantener","Nacimiento",new { id=0 })'>
            <i class="mdi-social-person-add"></i>
        </a>
    </div>

</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            @if (Model.NacimientoId > 0)
            {
                <text>CargarAnexos();</text>
            }

            $("#formValidate").validate({
                errorElement: 'div',
                errorPlacement: function (error, element) {
                    var placement = $(element).data('error');
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
            $("#formValidate").submit(function () {
                var form = $(this);

                form.ajaxSubmit({
                    dataType: 'JSON',
                    type: 'POST',
                    url: form.attr('action'),
                    success: function (r) {
                        if (r.respuesta) {
                            @if (@Model.NacimientoId == 0) {
                                <text>  window.location = '@Url.Action("Mantener", "Nacimiento", new { id = "" })' + '/' + r.valor; return;</text>
                            }

                            Materialize.toast('Se Guardó Correctamente!', 4000);
                            if (r.flag)
                                CargarAnexos();

                        }
                        else
                            Materialize.toast(r.error, 4000);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
                return false;
            });
            $("#frmAdjuntar").submit(function () {
                var form = $(this);
                form.ajaxSubmit({
                    dataType: 'JSON',
                    type: 'POST',
                    url: form.attr('action'),
                    success: function (r) {
                        if (r.respuesta) {
                            Materialize.toast('Se Subió Correctamente!', 4000);
                            $('#ifrNac').attr("src", @Href("~/") +r.valor);
                        }
                        else { Materialize.toast(r.error, 4000); }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
                return false;
            });
            $("#frmAdjuntarAnexo").submit(function () {
                var form = $(this);
                form.ajaxSubmit({
                    dataType: 'JSON',
                    type: 'POST',
                    url: form.attr('action'),
                    success: function (r) {
                        if (r.respuesta) {
                            Materialize.toast('Se Subió Correctamente!', 4000);                            
                            CargarAnexos();
                        }
                        else { Materialize.toast(r.error, 4000); }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
                return false;
            });
        });

        function CargarAnexos() {
            var url = "@Url.Action("MostrarAnexos", "Nacimiento")" + "?pNacimientoId=@Model.NacimientoId" + "&editar=true";
            $("#listarAnexos").load(url);
        };
        function EliminarAnexo(anexoid) {
            swal({
                title: "Estas seguro de eliminar este Anexo?",
                text: "Esta acción elimina el registro y el anexo digitalizada!",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "Cancelar",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Eliminar",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    data: { id: anexoid },
                    url: '@Url.Action("EliminarAnexo", "Nacimiento")',
                    type: 'post',
                    success: function (r) {
                        CargarAnexos();
                        swal("Eliminado!", "El anexo ha sido eliminado.", "success");
                    },
                    error: function (jqXHR, textStatus, errorThrown) { alert(errorThrown); }
                });
            });
        }

    </script>
}