<div class="container">
    <div class="section">
        <div id="card-stats" class="seaction">
            <h4 class="header">Resumen de Actas</h4>
            <p> Total de registros de Actas en el Sistema.</p>
            <div class="row">
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content  green white-text">
                            <p class="card-stats-title"><i class="mdi-action-account-child"></i> NACIMIENTOS</p>
                            <h4 class="card-stats-number">@ViewBag.NroNac</h4>
                            <p class="card-stats-compare">
                                <i class="mdi-hardware-keyboard-arrow-up"></i> Actas registradas
                            </p>
                        </div>
                        <div class="card-action  green darken-2">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content purple white-text">
                            <p class="card-stats-title"><i class="mdi-communication-contacts"></i> DEFUNCIONES</p>
                            <h4 class="card-stats-number">@ViewBag.NroDef</h4>
                            <p class="card-stats-compare">
                                <i class="mdi-hardware-keyboard-arrow-up"></i> Actas registradas
                            </p>
                        </div>
                        <div class="card-action purple darken-2">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content blue-grey white-text">
                            <p class="card-stats-title"><i class="mdi-social-people-outline"></i> MATRIMONIOS</p>
                            <h4 class="card-stats-number">@ViewBag.NroMat</h4>
                            <p class="card-stats-compare">
                                <i class="mdi-hardware-keyboard-arrow-up"></i> Actas registradas
                            </p>
                        </div>
                        <div class="card-action blue-grey darken-2">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content deep-purple white-text">
                            <p class="card-stats-title"><i class="mdi-editor-insert-drive-file"></i> TOTAL</p>
                            <h4 class="card-stats-number">@ViewBag.Total</h4>
                            <p class="card-stats-compare">
                                <i class="mdi-hardware-keyboard-arrow-down"></i> Actas registradas
                            </p>
                        </div>
                        <div class="card-action  deep-purple darken-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /*.dropdown-content {
        background-color: #fff;
        margin: 0;
        display: none;
        min-width: 100px;
        max-height: 650px;
        overflow-y: auto;
        opacity: 0;
        position: absolute;
        z-index: 999;
        will-change: width, height;
    }

        .dropdown-content li {
            clear: both;
            color: rgba(0, 0, 0, 0.87);
            cursor: pointer;
            min-height: 50px;
            line-height: 1.5rem;
            width: 100%;
            text-align: left;
            text-transform: none;
        }



            .dropdown-content li > a, .dropdown-content li > span {
                font-size: 16px;
                color: #26a69a;
                display: block;
                line-height: 22px;
                padding: 14px 16px;
            }*/



    /* Autocomplete */
    .autocomplete-content {
        margin-top: -15px;
        display: block;
        opacity: 1;
        position: static;
    }

        /*.autocomplete-content li .highlight {
            color: #444;
        }*/

        .autocomplete-content li img {
            height: 40px;
            width: 40px;
            margin: 5px 15px;
        }

    .autocomplete-suggestions {
        border: 1px solid #999;
        background: #FFF;
        overflow: auto;
    }

    .autocomplete-suggestion {
        padding: 2px 5px;
        white-space: nowrap;
        overflow: hidden;
    }

    .autocomplete-selected {
        background: #F0F0F0;
    }

    .autocomplete-suggestions strong {
        font-weight: normal;
        color: #3399FF;
    }

    .autocomplete-group {
        padding: 2px 5px;
    }

        .autocomplete-group strong {
            display: block;
            border-bottom: 1px solid #000;
        }
</style>

<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="autocompletar" data-tabla="persona" data-funcion="SeleccionarPersona" />
            </div>
        </div>
    </div>
</div>



@section scripts{
    
    <script>
        //https://github.com/devbridge/jQuery-Autocomplete
        $(document).ready(function () {            

            @*$.get('@Url.Action("listarPersona", "Home")', function (d) {                
                $('#autocomplete').autocomplete({
                    //serviceUrl: '@Url.Action("listapais", "Home")',
                    lookup: d,
                    minChars: 2,
                    onSelect: function (suggestion) {
                        console.log('You selected: ' + suggestion.value + ', ' + suggestion.data);
                        //alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
                    },
                    showNoSuggestionNotice: true,
                    noSuggestionNotice: 'Lo siento, no hay resultados',
                });
            });*@
           
            //$('#autocomplete').autocomplete({
            //    lookup: function (query, done) {
            //        // Do Ajax call or lookup locally, when done,
            //        // call the callback and pass your results:
            //        var result = {
            //            suggestions: [
            //                { "value": "Lima", "data": "AE" },
            //                { "value": "Peru", "data": "UK" },
            //                { "value": "Ayacucho", "data": "US" }
            //            ]
            //        };

            //        done(result);
            //    },
            //    onSelect: function (suggestion) {
            //        alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
            //    }
            //});
        });

        function SeleccionarPersona(id) {
            console.log(id);
        }
    </script>

    
}