<div class="container">
    <div class="section">
        <div id="card-stats" class="seaction">
            <h4 class="header">Resumen de Actas</h4>
            <p> Total de registros de Actas en el Sistema.</p>
            <div class="row">
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content  green white-text">
                            <p class="card-stats-title"><i class="mdi-action-account-child"></i> NACIMIENTOS</p>
                            <h4 class="card-stats-number">@ViewBag.NroNac</h4>
                            <p class="card-stats-compare">
                                <i class="mdi-hardware-keyboard-arrow-up"></i> Actas registradas
                            </p>
                        </div>
                        <div class="card-action  green darken-2">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content purple white-text">
                            <p class="card-stats-title"><i class="mdi-communication-contacts"></i> DEFUNCIONES</p>
                            <h4 class="card-stats-number">@ViewBag.NroDef</h4>
                            <p class="card-stats-compare">
                                <i class="mdi-hardware-keyboard-arrow-up"></i> Actas registradas
                            </p>
                        </div>
                        <div class="card-action purple darken-2">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content blue-grey white-text">
                            <p class="card-stats-title"><i class="mdi-social-people-outline"></i> MATRIMONIOS</p>
                            <h4 class="card-stats-number">@ViewBag.NroMat</h4>
                            <p class="card-stats-compare">
                                <i class="mdi-hardware-keyboard-arrow-up"></i> Actas registradas
                            </p>
                        </div>
                        <div class="card-action blue-grey darken-2">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content deep-purple white-text">
                            <p class="card-stats-title"><i class="mdi-editor-insert-drive-file"></i> TOTAL</p>
                            <h4 class="card-stats-number">@ViewBag.Total</h4>
                            <p class="card-stats-compare">
                                <i class="mdi-hardware-keyboard-arrow-down"></i> Actas registradas
                            </p>
                        </div>
                        <div class="card-action  deep-purple darken-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @*<div class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input type="hidden" id="hdid" value="0" />
                <input type="text" id="autocompletar"
                       data-url='@Url.Action("ListarPersonas","Comun")'
                       data-seleccion="hdid"
                       data-funcion="SeleccionarPersona"
                       data-boton="btn"/>
                <input type="submit" id="btn" value="enviar" />
            </div>
        </div>
    </div>*@
    
</div>

@{
    var listamnu = BL.MenuBL.Listar(x => x.IndPadre == false, x => x.OrderBy(y => y.Orden));
}
<!--multiple select-->
<div class="row">
    

    <div class="col s12 m4 l3">
        <p>You can add the property <code>multiple</code> to get the multiple select and select several options.</p>
    </div>
    <div class="col s12 m8 l9">
        <form method="post" action="@Url.Action("EnvioMenus","Home")">
            <div class="input-field col s12">
                <select multiple id="cboMenu" name="cbomenu">
                    <option value="" disabled selected>Escoja los menús</option>
                    @foreach (var item in listamnu)
                    {
                        <option value="@item.MenuId">@item.Denominacion</option>
                    }
                </select>
                <label>Lista de menus</label>
            </div>

            <input type="submit" id="btn" value="enviar" data-ajax="true" />
            
        </form>
    </div>
</div>
 

@section scripts{
    
    <script>
        

        //function SeleccionarPersona(id) {
        //    console.log(id);
        //}
    </script>

    
}