@model List<BE.oficina>


<div class="container">

    <div id="mail-app" class="section">
        <div class="row">
            <div class="col s12">
                <nav class="red">
                    <div class="nav-wrapper">
                        <div class="left col s12 m5 l5">
                            <ul>
                                <li>
                                    <a href="#!" class="email-menu"><i class="mdi-navigation-menu"></i></a>
                                </li>
                                <li>
                                    <a href="#!" class="email-type">OFICINAS</a>
                                </li>
                                <li class="right">
                                    <!--navegador-->
                                    <div class="input-field">
                                        <input id="btnb" type="text" placeholder="Buscar Oficinas" autofocus>
                                        <label for="btnb">
                                            <i class="mdi-action-search"></i>
                                        </label>
                                    </div>

                                </li>
                            </ul>
                        </div>
                        <div class="col s12 m7 l7 hide-on-med-and-down">
                            <ul class="right">
                                <li>

                                </li>
                                <li>

                                </li>
                                <li>

                                </li>
                                <li>
                                    <a href="#!"><i class="mdi-navigation-more-vert"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </nav>
            </div>
            <div class="col s12">
                <!--agregar nombre de la oficina -->
                <div id="email-list" class="col s12 m12 l12 card-panel z-depth-1">
                    <ul class="collection">
                        @foreach (var item in Model)
                        {
                            <li class="collection-item avatar email-unread"
                                ondblclick="MostrarEditar(@item.OficinaId);">
                                <!--mostrar con doble clik-->

                                <span class="circle light-blue">@item.Denominacion.Substring(0, 1)</span>

                                <span class="email-title">@item.Denominacion</span>
                                @*<p class="truncate grey-text ultra-small">@item.persona.DNI - @item.persona.NombreCompleto</p>*@

                                @*<a class="secondary-content email-time">
                                    <span class="blue-text ultra-small">cel: @item.persona.Celular</span>
                                </a>*@

                            </li>
                        }

                    </ul>
                </div>

            </div>
        </div>

        <!-- agregar oficina -->
        <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
            <a class="btn-floating btn-large red modal-trigger" href="#modal1">
                <i class="mdi-editor-border-color"></i>
            </a>
            <p class="ultra-small">AGREGAR OFICINA</p>
        </div>



        <!-- ventana emergente -->
        <div id="modal1" class="modal" style="z-index: 1003; display: none; opacity: 0; transform: scaleX(0.7); top: 222.609px;">
            <div class="modal-content">
                <nav class="red">
                    <div class="nav-wrapper">
                        <div class="left col s12 m5 l5">
                            <ul>
                                <li>
                                    <a href="#!" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
                                </li>
                                <li>
                                    <a href="#!" class="email-type">Retornar</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col s12 m7 l7 hide-on-med-and-down">
                            <ul class="right">
                                <li>
                                    <a href="#!"><i class="mdi-editor-attach-file"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="modal-action modal-close  mdi-content-send"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="mdi-navigation-more-vert"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </nav>
            </div>
            <div class="model-email-content">
                <div class="row">
                    <form class="col s12">
                        <!--<div class="row">
                          <div class="input-field col s12">
                            <input id="from_email" type="email" class="validate">
                            <label for="from_email">From</label>
                          </div>
                        </div> -->
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="to_email" type="email" class="validate">
                                <label for="to_email">To</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="subject" type="text" class="validate">
                                <label for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="compose" class="materialize-textarea" length="500"></textarea>
                                <label for="compose">Compose email</label>
                                <span class="character-counter" style="float: right; font-size: 12px; height: 1px;"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>