
<!--start container-->
<div class="container">

    <div id="mail-app" class="section">
        <div class="row">
            <div class="col s12">
                <nav class="blue darken-2">
                    <div class="nav-wrapper">

                        <div class="left col s3 m3 l3">
                            <ul>
                                <li>
                                    <a href="#!" class="email-menu"><i class="mdi-navigation-menu"></i></a>
                                </li>
                                <li>
                                    <a href="#!" class="email-type">DEFUNCIONES</a>
                                </li>
                            </ul>

                        </div>
                        <div class="col s9 m9 l9 hide-on-med-and-down">
                            <form class="row">
                                <div class="input-field">
                                    <input id="btnb" type="text" placeholder="Buscar Ciudadano">
                                    <label for="btnb">
                                        <i class="mdi-action-search"></i>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col s12" id="listaActas">

            </div>

        </div>

        <!-- Compose acta -->
        <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
            <a class="btn-floating btn-large red" href='@Url.Action("Mantener","Defuncion",new { id=0 })'>

                <i class="mdi-social-person-add"></i>
            </a>
        </div>
    </div>
</div>
<!--end container-->

@section scripts{
    <script>
        $(function () {
            cargar();
            $("#btnb").keypress(function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                    cargar();
                }
            });
        });

        function cargar() {
            var re = / /g;
            var url = "@Url.Action("Buscar","Defuncion")" + "?clave=" + $('#btnb').val().replace(re, '%20');
            $("#listaActas").load(url);
        };
        function CargarAnexos() {
            var url = "@Url.Action("MostrarAnexos", "Defuncion")" + "?pDefuncionId=" + $("#hdDefuncionId").val() + "&editar=false";
            $("#listarAnexos").load(url);
        };
        function MantenerDefuncion() {
            window.location = '@Url.Action("Mantener", "Defuncion")' + '/' + $("#hdDefuncionId").val();
        }
        function EliminarDefuncion() {
            swal({
                title: "Estas seguro de eliminar este registro?",
                text: "Esta acción elimina el registro y el acta digitalizada!",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "Cancelar",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Eliminar",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: 'GET',
                    dataType : 'json',
                    url: '@Url.Action("Eliminar","Defuncion")',
                    data: { pDefuncionId: $("#hdDefuncionId").val() },
                    success: function (res) {
                        swal({ title: "Eliminado!", text: "El registro ha sido eliminado.", type: "success", timer: 2000 }, function () {
                            window.location = '@Url.Action("Index", "Defuncion")';
                        });
                    },
                    error: function (req, status, err) {
                        alert('Ocurrio un error: ' + err);
                    }
                });
            });


        }
        //$('.collection-item').click(function () {
        //    $(this).addClass("selected").siblings().removeClass("selected");
        //});
        function Mostrar(id, corto, n, l, a,url) {
            if ($("#hdDefuncionId").val() == id) return;

            $("#hdDefuncionId").val(id);
            $('#lblCorto').text(corto);
            $('#lblNombre').text(n);
            $('#lblLibro').text(l);
            $('#lblActa').text(a);

            if (url.length > 0)
                $('#embedPdf2').attr("src", "@Href("~")Actas/Defuncion/" + url);
            else
                $('#embedPdf2').attr("src", "@Href("~")Actas/no.jpg");
            CargarAnexos();
        };

        function MostrarEditar(id) {
            window.location = '@Url.Action("Mantener", "Defuncion")' + '/' + id;
        }
    </script>
}